<h1>⭐️みんなのストックしている物⭐️</h1>
<% if user_signed_in? %>
  <% @items.each do |item| %>
  <%# #present?メソッドでニックネイルがなければ非表示にすることができる 又ニックネームがなければI'dが出る三項演算子%>
  <p><%= item.name %>：<%= item.price %>
  
  </p>
  <% end %>
<% else %>
  <p>ログインしてください</p>
<% end %>

<%# item.user.nickname.present?の処理結果がtrueの場合は"購入者 #{item.user.nickname}"が表示され、falseの場合は"会員No.#{item.user.id}"が表示されるようになります。 %>